<section class="flex flex-col border-r-2 h-full items-center py-4 px-8">
  <!-- logo -->
  <div class="flex w-full p-2">
    <h1 class="font-semi-bold text-4xl">Marites</h1>
  </div>
  <!-- search -->
  <div class="relative w-full h-fit">
    <input
      type="text"
      class="bg-slate-700 w-full p-2 border-1 rounded-2xl h-11"
    />
    <button
      class="absolute right-1.5 bottom-1.5 w-4 h-4 p-4 bg-primary text-white rounded-full disabled:opacity-30 flex justify-center items-center"
    >
      <i class="fas fa-microphone"></i>
    </button>
  </div>
</section>
