<section
  class="flex flex-col border-r border-gray-300 dark:border-zinc-700 h-full items-center py-6 px-6 w-full bg-white dark:bg-zinc-900"
  *ngIf="!showCreateGroupChat"
>
  <!-- Logo -->
  <div class="flex items-center w-full mb-6">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-white">Marites</h1>
  </div>

  <!-- Search Bar -->
  <div class="relative w-full mb-6">
    <input
      type="text"
      placeholder="Search..."
      class="w-full h-11 px-4 pr-12 rounded-2xl bg-slate-100 dark:bg-zinc-800 text-sm text-gray-800 dark:text-white placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary transition"
      [(ngModel)]="searchTerm"
    />
    <button
      class="absolute right-2 top-1.5 w-8 h-8 bg-primary hover:bg-primary/90 text-white rounded-full flex justify-center items-center transition"
    >
      <i class="fas fa-microphone text-sm"></i>
    </button>
  </div>

  <!-- Messages List -->
  <div class="flex flex-col w-full overflow-y-auto flex-1 custom-scrollbar">
    <!-- previewId == chatID -->
    <ng-container
      *ngIf="
        messages
          | previewsSortByDate
          | searchByName : searchTerm as filteredMessages
      "
    >
      <app-message-preview
        *ngFor="let message of filteredMessages"
        [messagePreview]="message.preview"
        class="w-full flex flex-col"
        (click)="chatService.selectChat(message.previewId); chatSelected.emit()"
      ></app-message-preview>

      <div
        *ngIf="filteredMessages.length === 0"
        class="text-center text-zinc-500 mt-8"
      >
        No chat with term '{{ searchTerm }}' found.
      </div>
    </ng-container>

    <p
      *ngIf="messages && messages.length === 0"
      class="text-center text-gray-500 dark:text-gray-400 mt-10"
    >
      No messages!
    </p>
  </div>
  <button
    *ngIf="messages && messages.length !== 0"
    class="w-full dark:bg-zinc-800 bg-zinc-50 p-4 rounded-2xl my-4 dark:hover:bg-zinc-700 hover:bg-zinc-100"
    (click)="showCreateGroupChat = true"
  >
    Create a group chat
  </button>
</section>

<app-create-group-chat
  *ngIf="showCreateGroupChat"
  (back)="showCreateGroupChat = false"
></app-create-group-chat>
