<section
  class="relative min-h-[650px] w-[400px] p-12 bg-background shadow-lg rounded-2xl transition-all duration-300 flex justify-center items-center"
>
  <div class="flex flex-col gap-12" *ngIf="!(loading$ | async)">
    <h1 class="text-center text-4xl font-medium">Marties</h1>

    <form
      class="flex flex-col gap-12"
      #signupForm="ngForm"
      (ngSubmit)="signup()"
    >
      <!-- Step 1 -->
      <div [hidden]="step !== 1" class="flex flex-col gap-2">
        <h2 class="font-semibold text-xl">Basic Info</h2>

        <!-- First + Last Name -->
        <div class="flex justify-between gap-4">
          <div class="relative w-1/2">
            <input
              type="text"
              class="w-full px-4 p-2 border rounded-lg placeholder:text-md placeholder:text-slate-600"
              placeholder="First Name"
              name="firstName"
              required
              [(ngModel)]="formData.firstName"
              #firstName="ngModel"
              [ngClass]="{
                'border-red-500 border-2':
                  firstName.touched && firstName.invalid
              }"
            />
          </div>

          <div class="relative w-1/2">
            <input
              type="text"
              class="w-full px-4 p-2 border rounded-lg placeholder:text-md placeholder:text-slate-600"
              placeholder="Last Name"
              name="lastName"
              required
              [(ngModel)]="formData.lastName"
              #lastName="ngModel"
              [ngClass]="{
                'border-red-500 border-2': lastName.touched && lastName.invalid
              }"
            />
          </div>
        </div>

        <!-- Email -->
        <div class="relative">
          <input
            type="email"
            class="w-full pl-10 pr-4 py-2 border rounded-lg placeholder:text-md placeholder:text-slate-600"
            placeholder="Enter your email"
            name="email"
            required
            email
            [(ngModel)]="formData.email"
            #email="ngModel"
            [ngClass]="{
              'border-red-500 border-2': email.touched && email.invalid
            }"
          />
          <div
            class="absolute top-3.5 left-1 pl-3 flex items-center pointer-events-none"
          >
            <i class="fas fa-envelope text-slate-400"></i>
          </div>
        </div>

        <!-- Password -->
        <div class="relative">
          <input
            type="password"
            class="w-full pl-10 pr-4 py-2 border rounded-lg placeholder:text-md placeholder:text-slate-600"
            placeholder="Enter your password"
            name="password"
            required
            [(ngModel)]="formData.password"
            #password="ngModel"
            [ngClass]="{
              'border-red-500 border-2': password.touched && password.invalid
            }"
          />
          <div
            class="absolute top-3.5 left-1 pl-3 flex items-center pointer-events-none"
          >
            <i class="fas fa-lock text-slate-400"></i>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="relative">
          <input
            type="password"
            class="w-full pl-10 pr-4 py-2 border rounded-lg placeholder:text-md placeholder:text-slate-600"
            placeholder="Confirm your password"
            name="confirmPassword"
            required
            [(ngModel)]="formData.confirmPassword"
            #confirmPassword="ngModel"
            [ngClass]="{
              'border-red-500 border-2':
                confirmPassword.touched && confirmPassword.invalid
            }"
          />
          <div
            class="absolute top-3.5 left-1 pl-3 flex items-center pointer-events-none"
          >
            <i class="fas fa-lock text-slate-400"></i>
          </div>
        </div>

        <!-- Password Mismatch Error -->
        <div
          *ngIf="
            formData.password &&
            formData.confirmPassword &&
            formData.password !== formData.confirmPassword
          "
          class="text-red-500 text-sm"
        >
          Passwords do not match
        </div>

        <!-- Age + Gender -->
        <div class="flex justify-between">
          <div class="relative">
            <input
              type="number"
              name="age"
              required
              [(ngModel)]="formData.age"
              #age="ngModel"
              class="w-24 p-2 border border-gray-600 rounded-md text-slate-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Age"
              [ngClass]="{
                'border-red-500 border-2': age.touched && age.invalid
              }"
            />
          </div>

          <div class="relative">
            <select
              name="gender"
              required
              [(ngModel)]="formData.gender"
              #gender="ngModel"
              class="w-24 p-2 border border-gray-600 rounded-md bg-white text-slate-600 focus:outline-none focus:ring-2 focus:ring-blue-500 appearance-none"
              [ngClass]="{
                'border-red-500 border-2': gender.touched && gender.invalid
              }"
            >
              <option value="" disabled selected>Gender</option>
              <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Step 2 -->
      <div
        class="relative w-full flex flex-col text-center gap-2 justify-center items-center"
        [hidden]="step !== 2"
      >
        <h2 class="font-semibold text-xl">Setup your profile picture</h2>

        <!-- Avatar Preview -->
        <img
          *ngIf="profilePreview"
          [src]="profilePreview"
          alt="Profile preview"
          class="w-38 h-38 object-cover rounded-full border-2 border-primary shadow my-4"
        />

        <!-- Label Trigger -->
        <label
          for="profilePicture"
          class="w-full cursor-pointer bg-primary text-white p-4 rounded-full hover:opacity-80 transition"
        >
          Choose Profile Picture
        </label>

        <!-- Hidden File Input -->
        <input
          type="file"
          accept="image/*"
          id="profilePicture"
          name="profilePicture"
          class="hidden"
          (change)="changeProfileSelected($event)"
          #profilePicture="ngModel"
          [(ngModel)]="formData.profilePicture"
        />

        <!-- Submit error -->
        <p *ngIf="error$ | async" class="text-red-700 text-center">
          {{ error$ | async }}
        </p>

        <!-- Submit -->
        <button
          class="w-full mt-2 p-4 bg-primary text-white rounded-full disabled:opacity-30 hover:opacity-85 active:opacity-40"
          type="submit"
          [disabled]="
            signupForm.invalid || formData.password !== formData.confirmPassword
          "
        >
          SIGN UP
        </button>
      </div>

      <!-- Navigation Buttons -->
      <div class="flex justify-end mt-4">
        <div class="flex gap-2">
          <button
            type="button"
            class="bg-slate-200 py-1 px-4 rounded-full disabled:opacity-30 hover:opacity-80"
            [disabled]="step <= 1"
            (click)="step = step - 1"
          >
            Previous
          </button>
          <button
            type="button"
            class="bg-slate-200 py-1 px-4 rounded-full disabled:opacity-30 hover:opacity-80"
            [disabled]="step >= 2"
            (click)="step = step + 1"
          >
            Next
          </button>
        </div>
      </div>
    </form>

    <!-- Footer Navigation -->
    <div class="flex justify-between text-sm">
      <a class="text-gray-500" [routerLink]="['/authentication', 'login']"
        >Already have an Account</a
      >
    </div>

    <div class="absolute top-24 -right-24 rotate-90 -z-50 flex gap-4">
      <button
        class="bg-accent shadow-2xl rounded-2xl pb-8 px-4 pt-2 hover:opacity-60"
        [routerLink]="['/authentication', 'login']"
      >
        Login
      </button>
      <button
        class="bg-accent-dark text-white rounded-2xl pb-8 px-4 pt-2 shadow-2xl"
        disabled
      >
        Sign up
      </button>
    </div>
  </div>
  <div role="status" *ngIf="loading$ | async">
    <svg
      aria-hidden="true"
      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-primary"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</section>
