<div class="flex justify-center items-center flex-1 h-full">
  <section
    *ngIf="userProfile$ | async as u"
    class="flex flex-col items-center p-12 border-2 rounded-lg border-gray-200 dark:border-zinc-700 bg-gray-50 dark:bg-zinc-900 overflow-y-auto w-fit min-h-[600px] min-w-[400px]"
  >
    <div class="relative">
      <img
        [src]="u.profilePicture"
        [alt]="u.firstName"
        class="w-[150px] rounded-full"
      />
    </div>

    <div class="flex flex-col items-center gap-2 pt-4">
      <h3 class="text-2xl font-semibold">
        {{ u.firstName + " " }} {{ u.lastName }}
      </h3>
      <p class="text-lg">{{ u.email }}</p>
      <p>Age: {{ u.age }}</p>
    </div>
  </section>
</div>
