<div class="flex justify-center items-center flex-1 h-full px-4">
  <section
    *ngIf="userProfile$ | async as u"
    class="flex flex-col justify-center items-center gap-6 rounded-2xl shadow-lg border border-gray-200 dark:border-zinc-700 bg-white dark:bg-zinc-900 overflow-y-auto h-[90vh] max-h-screen w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[40vw] p-6"
  >
    <!-- Profile Picture -->
    <div class="relative">
      <img
        class="w-[150px] h-[150px] sm:w-[180px] sm:h-[180px] lg:w-[200px] lg:h-[200px] rounded-full object-cover shadow-lg border-4 border-white dark:border-zinc-800 group-hover:opacity-80 transition"
        [src]="u.profilePicture"
        [alt]="u.fullName || 'Chat avatar'"
      />
    </div>

    <!-- User Info -->
    <div class="flex flex-col items-center gap-2 text-center">
      <h3 class="text-2xl font-bold text-zinc-900 dark:text-white">
        {{ u.firstName + " " + u.lastName }}
      </h3>
      <p class="text-base text-zinc-600 dark:text-zinc-300">
        {{ u.email }}
      </p>
      <p class="text-sm text-zinc-500 dark:text-zinc-400">Age: {{ u.age }}</p>
    </div>
  </section>
</div>
