<section
  class="w-full h-full px-8 py-6 flex flex-col gap-8 dark:bg-zinc-900 bg-zinc-50 relative"
>
  <div
    class="absolute top-0 left-0 w-full h-full z-40"
    *ngIf="selectQuickReaction()"
    (click)="closeChooseQuickReaction()"
  ></div>

  <!-- Back Button -->
  <div>
    <button
      class="text-zinc-900 dark:text-zinc-100 hover:text-primary transition-colors"
      (click)="closeChatInfo.emit()"
    >
      <i class="fa-solid fa-circle-chevron-left fa-2xl"></i>
    </button>
  </div>

  <!-- Chat Info -->
  <div class="flex flex-col items-center gap-6">
    <!-- Avatar and Name -->
    <div class="flex flex-col items-center gap-3">
      <img
        class="w-[150px] h-[150px] rounded-full object-cover shadow-lg border-4 border-white dark:border-zinc-800"
        [src]="chat()?.chatPhoto"
        [alt]="chatName || 'Chat avatar'"
        *ngIf="chat()?.type === 'Private'"
      />

      <div *ngIf="chat()?.type === 'Group'" class="relative w-fit group">
        <label
          for="photo-upload"
          class="cursor-pointer block relative w-fit group"
        >
          <img
            class="w-[150px] h-[150px] rounded-full object-cover shadow-lg border-4 border-white dark:border-zinc-800 group-hover:opacity-80 transition"
            [src]="chat()?.chatPhoto"
            [alt]="chatName || 'Chat avatar'"
          />

          <i
            class="fa-solid fa-pen-to-square fa-2xl text-white drop-shadow absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition"
          ></i>
        </label>

        <input
          id="photo-upload"
          type="file"
          accept="image/*"
          class="hidden"
          (change)="changeGroupPhoto($event)"
        />
      </div>

      <h3
        class="text-xl font-semibold text-zinc-800 dark:text-white text-center"
        *ngIf="chat()?.type === 'Private'"
      >
        {{ chatName }}
      </h3>

      <div
        class="flex items-center gap-2 group"
        *ngIf="chat()?.type === 'Group'"
        (click)="toggleChangeGroupName.set(true)"
      >
        <h3
          class="text-xl font-semibold text-zinc-800 dark:text-white text-center"
          *ngIf="!toggleChangeGroupName(); else groupChatNameInput"
        >
          {{ chatName }}
        </h3>
        <button class="hidden group-hover:flex items-center">
          <i
            class="fa-solid fa-pen-to-square fa-lg text-zinc-800 dark:text-white drop-shadow transition"
          ></i>
        </button>
      </div>
      <ng-template #groupChatNameInput>
        <app-input-box
          (cancel)="toggleChangeGroupName.set(false)"
          (confirm)="
            changeGroupChatName($event); toggleChangeGroupName.set(false)
          "
          [data]="{
            title: 'Change Group Chat Name',
            defaultValue: chatName,
            cancelText: 'cancel',
            confirmText: 'change'
          }"
        ></app-input-box>
      </ng-template>
    </div>

    <!-- Customization Card -->
    <div
      class="w-full bg-zinc-100 dark:bg-zinc-800 rounded-2xl shadow p-5 space-y-4"
    >
      <h4 class="text-zinc-700 dark:text-zinc-200 font-semibold text-base">
        Customization
      </h4>

      <!-- Chat Color Picker -->
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-4">
          <input
            type="color"
            [(ngModel)]="chatColor"
            class="w-[30px] h-[30px] rounded-full p-0 cursor-pointer border-none"
            (change)="updateChatColor()"
          />

          <span class="text-sm text-zinc-700 dark:text-zinc-300">
            Chat color
            <button
              class="p-1 hover:text-red-400"
              (click)="resetChatColor()"
              *ngIf="chatColor !== '#6c5ce7'"
            >
              <i class="fa-solid fa-rotate-right"></i>
            </button>
          </span>
        </div>
      </div>

      <!-- Quick Reaction Picker -->
      <div class="flex items-center justify-between relative">
        <div class="flex items-center gap-4">
          <button
            class="w-[30px] h-[30px] text-xl bg-primary hover:bg-primary/90 text-white rounded-full flex justify-center items-center transition hover:cursor-pointer"
            [title]="'Quick Reaction: ' + quickReaction"
            (click)="chooseQuickReaction()"
          >
            {{ quickReaction }}
          </button>
          <span class="text-sm text-zinc-700 dark:text-zinc-300">
            Quick reaction
          </span>
        </div>

        <!-- Emoji Picker Dropdown -->
        <div
          *ngIf="selectQuickReaction()"
          class="absolute left-0 top-full mt-2 grid grid-cols-5 gap-2 bg-zinc-700 p-3 rounded-2xl z-50 w-[180px] shadow-lg"
        >
          <div
            *ngFor="let r of reactions"
            class="w-[30px] h-[30px] p-1 text-xl hover:bg-primary hover:text-white rounded-full flex items-center justify-center cursor-pointer transition"
            (click)="setQuickReaction(r.emoji)"
          >
            {{ r.emoji }}
          </div>
        </div>
      </div>
    </div>

    <!-- Names Card -->
    <div class="w-full bg-zinc-100 dark:bg-zinc-800 rounded-2xl shadow p-5">
      <h4 class="text-zinc-700 dark:text-zinc-200 font-semibold text-base mb-4">
        Members
      </h4>
      <div *ngIf="chat()?.type === 'Private'; else groupMembers">
        <div
          *ngFor="let member of members()"
          class="text-sm text-zinc-800 dark:text-zinc-300 px-2 py-1 rounded-full"
        >
          {{ member.name }}
        </div>
      </div>
      <ng-template #groupMembers>
        <div
          *ngFor="let member of members()"
          class="text-sm text-zinc-800 dark:text-zinc-300 px-2 py-1 rounded-full group flex gap-2 items-center"
        >
          {{ member.name }}
          <button
            *ngIf="member.uid !== currUserUID"
            class="hidden group-hover:flex"
            (click)="removeMemberUID.set(member.uid)"
          >
            <i class="fa-solid fa-user-minus text-red-400"></i>
          </button>

          <app-confirm-dialog
            *ngIf="removeMemberUID() === member.uid"
            [data]="{
              mainMessage:
                'Are you sure you want to remove ' + member.name + '?',
              description: 'By confirming, this cannot be undone!',
              cancelText: 'cancel',
              confirmText: 'remove'
            }"
            (cancel)="removeMemberUID.set(null)"
            (confirm)="
              chatService.removeMember(chatUID, chat()?.members!, member.uid);
              removeMemberUID.set(null)
            "
          ></app-confirm-dialog>
        </div>

        <!-- Adding members -->
        <button
          class="py-2 px-4 bg-zinc-200 dark:bg-zinc-700 rounded-2xl mt-2 hover:bg-zinc-300 dark:hover:bg-zinc-600"
          (click)="toggleAddMember.set(true)"
        >
          Add member
        </button>
        <app-friends-list
          *ngIf="toggleAddMember()"
          [membersUIDs]="membersUIDs"
          (close)="toggleAddMember.set(false)"
          (addMember)="chatService.addMember($event, chatUID, chat()?.members!)"
        ></app-friends-list>
      </ng-template>
    </div>
  </div>

  <!-- Leave / Delete Chat Buttons -->
  <div class="flex flex-col gap-3 w-full" *ngIf="chat()?.type === 'Group'">
    <button
      class="w-full py-3 px-4 text-sm font-medium bg-zinc-700 text-zinc-50 rounded-xl hover:bg-red-500 hover:text-white transition"
      (click)="confirmLeaveChat.set(true)"
    >
      <i class="fa-solid fa-right-from-bracket mr-2"></i>
      Leave Chat
    </button>

    <button
      class="w-full py-3 px-4 text-sm font-medium bg-zinc-700 text-zinc-50 rounded-xl hover:bg-red-500 hover:text-white transition"
      (click)="confirmDeleteChat.set(true)"
    >
      <i class="fa-solid fa-trash-can mr-2"></i>
      Delete Chat
    </button>

    <!-- Leave Chat Confirmation -->
    <app-confirm-dialog
      *ngIf="confirmLeaveChat()"
      [data]="{
        mainMessage: 'Leave this chat?',
        description:
          'You will no longer receive messages from this chat unless re-added.',
        cancelText: 'cancel',
        confirmText: 'leave'
      }"
      (cancel)="confirmLeaveChat.set(false)"
      (confirm)="
        chatService.leaveChat(chatUID, chat()?.members!);
        confirmLeaveChat.set(false)
      "
    ></app-confirm-dialog>

    <!-- Delete Chat Confirmation -->
    <app-confirm-dialog
      *ngIf="confirmDeleteChat()"
      [data]="{
        mainMessage: 'Delete this chat?',
        description:
          'This action is permanent and will remove the chat for all participants.',
        cancelText: 'cancel',
        confirmText: 'delete'
      }"
      (cancel)="confirmDeleteChat.set(false)"
      (confirm)="
        chatService.deleteChat(chatUID, membersUIDs());
        confirmDeleteChat.set(false)
      "
    ></app-confirm-dialog>
  </div>
</section>
